/GoBike.Member/GoBike.Member.API/bin
/GoBike.Member/GoBike.Member.API/obj
/GoBike.Member/GoBike.Member.Core/obj
/GoBike.Member/GoBike.Member.Core/bin
/GoBike.Member/GoBike.Member.Repository/obj
/GoBike.Member/GoBike.Member.Repository/bin
/GoBike.Member/GoBike.Member.Service/obj
/GoBike.Member/GoBike.Member.Service/bin
/GoBike.Member/.vs
