/GoBike.Member/GoBike.Member.API/bin
/GoBike.Member/GoBike.Member.API/obj
/GoBike.Member/GoBike.Member.Core/obj
/GoBike.Member/GoBike.Member.Core/bin
/GoBike.Member/GoBike.Member.Repository/obj
/GoBike.Member/GoBike.Member.Repository/bin
/GoBike.Member/GoBike.Member.Service/obj
/GoBike.Member/GoBike.Member.Service/bin
/GoBike.Member/.vs
/GoBike.API/GoBike.API.Service/bin
/GoBike.API/GoBike.API.Service/obj
/GoBike.API/GoBike.API.Repository/obj
/GoBike.API/GoBike.API.Repository/bin
/GoBike.API/GoBike.API.Core/obj
/GoBike.API/GoBike.API.Core/bin
/GoBike.API/GoBike.API.App/obj
/GoBike.API/GoBike.API.App/bin
/GoBike.API/.vs
/GoBike.CDN/.vs
/GoBike.CDN/GoBike.CDN/obj
/GoBike.CDN/GoBike.CDN/bin
/Log
/application
/CDN
/api.gobike.com
/cdn.gobike.com
/uploadfiles.gobike.com
/GoBike.UploadFiles/GoBike.UploadFiles/obj
/GoBike.UploadFiles/GoBike.UploadFiles/bin
/member.gobike.com
/GoBike.Smtp/GoBike.Smtp.API/obj
/GoBike.Smtp/GoBike.Smtp.API/bin
/smtp.gobike.com
/GoBike.Smtp/GoBike.Smtp.Core/obj
/GoBike.Smtp/GoBike.Smtp.Core/bin
/GoBike.Smtp/GoBike.Smtp.Service/obj
/GoBike.Smtp/GoBike.Smtp.Service/bin
/GoBike.Smtp/.vs
