/* 
* 新增 bootstrap 按鈕顏色樣式
*/

/*
* Login
*/
.login.btn {
  color: #fff;
  background-color: #2b5971;
  border-radius: 8px;
  border-color: #2b5971;
  outline: none;
}

.login.btn:hover {
  color: rgb(22, 75, 104);
  background-color: #4f8daf;
  border-color: #4f8daf;
}

.login.btn:focus,
.login.btn.focus {
  box-shadow: none;
  outline: none;
}

.login.btn.disabled,
.login.btn:disabled {
  color: #999999;
  background-color: rgb(37, 64, 78);
  border-color: rgb(37, 64, 78);
}

.login.btn:not(:disabled):not(.disabled):active,
.login.btn:not(:disabled):not(.disabled).active,
.show > .login.btn.dropdown-toggle {
  color: #fff;
  background-color: #2b5972;
  border-color: #2b5972;
}

.login.btn:not(:disabled):not(.disabled):active:focus,
.login.btn:not(:disabled):not(.disabled).active:focus,
.show > .login.btn.dropdown-toggle:focus {
  box-shadow: none;
}

/*
* Logout
*/
.Logout,
.Logout:focus {
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Noto Sans TC";
  font-size: 16px;
}

.Logout:hover {
  color: rgb(255, 152, 152);
}
